dist/esm/
*.tsbuildinfo

src/
decompiled-android-lib/
examples/vite-react-demo/
examples/html-demo/
docs/
.kilo/
.github/
.git/

*.config.js
tsconfig*.json
rollup.config.js
.gitignore
.DS_Store
LINK_USAGE.md
